@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font1: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Dancing Script', cursive;
}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

header > h1 {
    padding-top: 40px;
     font-variant: small-caps;  /*deixa todas as letras maiúsculas, mas a primeira letra maior*/
} 

header > p {
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 144);
}

section {
    font-family: var(--font2);
    padding: 10vh 10vh; 
    line-height: 2em;
    font-size: 1.8em;
}

section > p {
    padding-bottom: 2em;
}

section.imagem > p {
    padding: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.671);
}

section.imagem {
    background-color: rgb(88, 88, 88);
    color: white;
}

section.normal {
    background-color: rgb(216, 216, 216);
    color: black;
}

section#img01 {
    background: black url(imagens/vladislav-klapin-SymZoeE8quA-unsplash.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.459);
}

section#img02 {
    background: black url(imagens/helen-todd-MTQ68a6isHg-unsplash.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.459);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer > p#att{
    font-size: 10px;
    font-weight: 100;
}

@media (max-width: 650px) {
    
    header {
        font-size: 1em;
        transition-duration: 1s;

    }
    
    section{
        font-size: 1.4em;
        transition-duration: 1s;
    }

    footer{
        font-size: 0.7em;

    }
}